body {
    overflow: hidden; /* Hide scrollbars */
    font-family: Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.2fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
    "Title Links"
    "Graph Parameters";
}

.Graph {
    grid-area: Graph;
    position: relative;
    height:90vh;
    width:75vw
}

.Title {
    grid-area: Title;
    text-align: center;
}

.Links {
    grid-area: Links;
    text-align: center;
    width:24vw
    /*TODO: fix that this div is always the right sizel, now it only works in a certain screen res range*/
}

.Parameters {
    grid-area: Parameters;
}

.Help-menu {
    text-align: center;
}

.Input {
    text-align: center;
    border : 2px solid;
    overflow-y: scroll;
    max-height: 80vh;
    /*TODO: fix that the scrollbar appears at the right height, now it only works in a certain screen res range*/
}

.inputBox {
    border : 1px solid;
    margin : 5px;
    padding : 5px;
}