body {
    overflow: hidden; /* Hide scrollbars */
    font-family: Helvetica, sans-serif;
    margin : 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.2fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
    "Title Links"
    "Graph Parameters";
}

.Graph {
    grid-area: Graph;
    position: relative;
    height:90vh;
    width:75vw
}

.Title {
    grid-area: Title;
    text-align: center;
}

.Links {
    grid-area: Links;
    text-align: center;
    width:25vw
}

.Parameters {
    grid-area: Parameters;
}

.Help-menu {

}

.Input {

}